<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <!-- START OF NAVBAR -->
    <section class="header">
      <nav>
        <div class="nav-links" id="navLinks">
          <i class="fa fa-window-close" onclick="hideMenu()"></i>
          <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/login">LOGIN</a></li>
            <li><a href="/register">REGISTER</a></li>
            <li><a href="/loginSel">SELLER LOGIN</a></li>
            <li><a href="/registerSel">SELLER RGISTER</a></li>
          </ul>
        </div>
        <i class="fa fa-bars" onclick="showMenu()"></i>
      </nav>
      <!-- END OF NAVBAR -->.

      <div class="text-box">
        <h1>Welcome to E-Commerse</h1>
        <br />
        <br />
        <div class="btn-box">
          <a href="/login" class="hero-btn">LOGIN</a>
          <a href="/register" class="hero-btn">REGISTER</a>
        </div>
      </div>

      <!-- Featured Products Section -->
<div class="container">
    <h2 class="text-center">Featured Products</h2>
    <br><br>
    <div class="row">
        <!-- Product Container 1 -->
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="/img/4.webp" class="card-img-top" alt="Product 1">
                <div class="card-body">
                    <h5 class="card-title">mobiles</h5>
                    <p class="card-text">Description of Product 1 goes here.</p>
                    <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
            </div>
        </div>
        
        <!-- Product Container 2 -->
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="/img/2.jpg" class="card-img-top" alt="Product 2">
                <div class="card-body">
                    <h5 class="card-title">laptops</h5>
                    <p class="card-text">Description of Product 2 goes here.</p>
                    <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
            </div>
        </div>
        
        <!-- Product Container 3 -->
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="/img/3.jpg" class="card-img-top" alt="Product 3">
                <div class="card-body">
                    <h5 class="card-title">fashion</h5>
                    <p class="card-text">Description of Product 3 goes here.</p>
                    <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- ======= Our Team Section ======= -->
<section id="team" class="team section-bg">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <center><h2>Our <strong>Team</strong></h2></center>
        <center><p>i am working with my friend and right we searching for a good team to prepare websites</p></center>
      </div>

      <div class="row">

        <div class="col-lg-6 col-md-9 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up">
            <div class="member-img">
              <img src="img/DSC_0761.JPG" class="img-fluid" alt="">
            </div>
            <div class="member-info">
              <h4>Rohit Samgir</h4>
              <h6>Web developer</h6>
              <h6>7888180473</h6>
              <h6>rohitsamgir99@gmail.com</h6>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-9 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up">
            <div class="member-img">
              <img src="img/IMG_0212.JPG" class="img-fluid" alt="">
            </div>
            <div class="member-info">
              <h4>Omkar Jadhav</h4>
              <h6>Web developer</h6>
              <h6>8698231143</h6>
              <h6>omkkarjadhav0501@gmail.com</h6>
            </div>
          </div>
        </div>


      </div>

    </div>
  </section><!-- End Our Team Section --> 

<!-- Footer -->
<footer class="footer text-center">
    <p>&copy; 2023 E-commerce Store</p>
</footer>

  
<!-- Bootstrap and jQuery JS files -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </section>
  </body>
</html>
